/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  --background: #c4c4c43a;
  --primary-color: #262e33ef;
  --secundary-color: #363f26;
  --tree-color: #7e7e7ed3;
  --font-family-primary: "Special Elite", cursive;
}

body {
  background: var(--background);
}

h1,
h2 {
  color: #8f8f8f;
  font-family: var(--font-family-primary);
}

p {
  color: #8f8f8f;
}

/* BACKGROUND GRADIENT */
#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* MENU */
.et-hero-tabs {
  display: none;
}

/* MENU END */

.text_up,
.text_up .container,
.text_up .container p {
  background: none;
}

/* BANNER */


.banner .banner_container {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  

}

.banner .container .row,
.banner .container .row .col,
.banner .container .row .col h3 {
  background: none;
}

.banner h1 {
  font-size: 15vh;
  margin-top: 15% !important;
  text-shadow: -5px 0 var(--secundary-color), 0 4px #aaa, -4px 0 #fff,
    0 6px #aaa;
  background: none;
  color: #ddd;
  font-family: var(--font-family-primary);
}

.banner .text {
  color: #8f8f8f;
}

.banner .dud {
  color: var(--primary-color);
  background: none;
}

.banner_img {
  height: 90vh;
  margin-top: 5% !important;
  background: none;
}
.banner_img img {
  background: none;
  
}
/* border image */

.margin_img {
  width:300px;
  height: 300px;
  background: var(--secundary-color);
  position: absolute;
  margin: 15% 0 0 50%
}

.margin_img-2 {
  width:300px;
  height: 300px;
  background: var(--primary-color);
  position: absolute;
  margin: 3% 0% 0 60%
}

.margin_img-3 {
  width:300px;
  height: 300px;
  background: #000;
  position: absolute;
  margin: 20% 0 0 65%
}

/* boton contact */
.btn {
  width: 150px;
  height: 50px;
  border: 1px solid var(--secundary-color);
  color: #8f8f8f;
  font-family: "Cinzel", serif;
  font-size: 20px;
  margin: auto;
  margin-top: 100px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn a {
  text-decoration: none;
  color: var(--secundary-color);
}

.btn::before,
.btn::after {
  position: absolute;
  background: var(--background);
  z-index: -1;
  transition: 1s;
  content: "";
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: var(--primary-color);
}

.btn:hover::after {
  height: 0px;
  background: #111111;
}

.btn:hover {
  background: #111111;
}

/* VIEW MORE */
.things .content p {
  float: top;
  width: 50%;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* Arrow */

.arrow {
  position: relative;
  margin: 0 auto;
  margin-left: 30%;
}

.arrow .curve {
  border: 2px solid #8f8f8f;
  border-color: transparent transparent transparent #8f8f8f;
  height: 160px;
  border-radius: 233px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 18px;
  top: 140px;
}

.arrow .point:before,
.arrow .point:after {
  border: 1px solid #8f8f8f;
  height: 25px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -11px;
  left: -11px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
  left: 5px;
  transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}

/* ABOUT ME */

.about .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.about .container .card {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin: 30px 45px;
}

.about .container .card .face {
  width: 280px;
  height: 200px;
  transition: 0.5s;
}

.about .container .card .face.face1 {
  position: relative;
  background: var(--secundary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: -12px;
  transform: translateY(100px);
}

.about .container .card:hover .face.face1 {
  background: var(--secundary-color);
  transform: translateY(0);
}

.about .container .card .face.face1 .content {
  transition: 0.5s;
}

.about .container .card:hover .face.face1 .content {
  opacity: 1;
}

.about .container .card .face.face1 .content img {
  max-width: 100px;
  background: var(--secundary-color);
}

.about .container .card .face.face1 .content h3 {
  padding: 10px 0 0;

  color: #fff;
  text-align: center;
  background: var(--secundary-color);
  font-size: 2.5em;
}

.about .container .card .face.face2 {
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  transform: translateY(-100px);
}

.about .container .card:hover .face.face2 {
  transform: translateY(0);
}

.about .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.about .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
}

.about .container .card .face.face2 .content a:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ---------------------------SKILLS ------------------------*/
.skills {
  padding-top: 300px;
}

.skills .container-fluid {
  z-index: 100;
}

.skills .cuadro1 {
  width: 35%;
  height: 50%;
  background: #363f26;
  position: absolute;
  margin:0% 40%;
  z-index: 10;
}

.skills .cuadro2 {
  width: 35%;
  height: 50%;
  background: var(--primary-color);
  position: absolute;
  margin:0 0 15% 10% ;
  z-index: 10;
}

.skills .skills_title h2 {
  font-size: 15vh !important;
}

.skills .skills_title h2 b {
  font-size: 7vh;
  position: absolute;
  background: none;
  color: var(--primary-color);
  transform: rotate(-5deg);
}

.skills .skills_icons .col {
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
z-index: 10;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.skills .skills_icons .col p,
.skills .skills_icons .col svg {
  background: none;
}

/*----------------- PROYECTS ------------------*/

.proyects {
  padding-top: 100px;
}

.proyects_title h2 {
  font-size: 15vh;
}

.proyects_title b {
  font-size: 7vh;
  position: absolute;
  background: none;
  color: var(--primary-color);
  transform: rotate(-5deg);
}

.proyects_title h3 {
  color: var(--primary-color);
  font-family: var(--font-family-primary);
  padding-bottom: 100px;
}

.proyect-card {
  perspective: 150rem;
  position: relative;
  height: 40rem;

  box-shadow: none;
  background: none;
}

.proyect-card-side {
  height: 35rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}

.proyect-card-side.back {
  transform: rotateY(-180deg);
  background: rgb(54, 63, 38);
  background: linear-gradient(
    155deg,
    rgba(54, 63, 38, 0.6727065826330532) 0%,
    rgba(54, 63, 38, 0.9444152661064426) 42%,
    rgba(119, 138, 85, 0.7231267507002801) 87%
  );
}

.proyect-card-side.front {
  background: url(./assets/img/pages/aztecwear.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 32px 0 var(--secundary-color);
  /* transform: rotateY(35deg); */
}

.proyect-card #proyect-2 {
  background: url(./assets/img/pages/ehforbeginers.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.proyect-card #proyect-3 {
  background: url(./assets/img/pages/modnutrition.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.proyect-card #proyect-4 {
  background: url(./assets/img/pages/la-floreria.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.proyect-card:hover .proyect-card-side.front {
  transform: rotateY(180deg);
}

.proyect-card:hover .proyect-card-side.back {
  transform: rotateY(0deg);
}

/* ///// PROYECT CARD INFO */

.proyect-card-info h3 {
  font-size: 5vh;
  text-align: center;
  color: var(--tree-color);
}

.proyect-card-info h4 {
  text-align: center;
  margin-top: 50px;
  color: var(--tree-color);
}

.proyect-card-info .in-process {
  color: yellow;
}

.proyect-card-info .completed {
  color: yellowgreen;
}

.proyect-card-info p {
  text-align: justify;
  color: #aaaaa6;
  margin-top: 20px;
}

.proyect-card-info .proyect-card-svg {
  text-align: center;
  margin-top: 10px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 50px;
  margin-left: 25px;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--secundary-color);
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--secundary-color);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* FORM CONTACT */

.form .cuadro1 {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: -1% 30%;
  background: var(--secundary-color);
}

.form .cuadro2 {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 10% 20%;
  background: var(--primary-color);
}

.form .cuadro3 {
  width: 600px;
  height: 350px;
  position: absolute;
  margin:10% 50%;
  background:#000;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin: auto;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
