/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  --background: #080808f3;
  --primary-color: #943838fd;
  --secundary-color:#967878fd;
  --tree-color: #7e7e7ed3;
  --font-family-primary: "Special Elite", cursive;
}

body {
  background: var(--background);
}

h1,
h2 {
  color: #8f8f8f;
  font-family: var(--font-family-primary);
}

p {
  color: #8f8f8f;
}

/* BACKGROUND GRADIENT */
#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: var(--background);
}

/* MENU */
.nav {
  display: none;
}

/* MENU END */


/* BANNER */

.banner {
  background: url(./assets/img/pexels-adrien-olichon-2387819.jpg);
  height: 100vh;
}

.banner_gradient {
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8141631652661064) 47%, var(--background) 80%);
height: 100vh;
}




.banner_border {

  
  width: 30%;
  height: 400px;
  margin:8% 0 auto 32%;
 
  box-shadow: 0 0 20px rgb(61, 58, 58);
  border-radius: 5px;
  background: rgb(19, 18, 18);
  box-shadow: blur(10px);
}

.banner_border1 {

 
  width: 30%;
  height: 250px;
  margin:-27% 0 auto 45%;
  box-shadow: 0 0 20px rgba(150, 120, 120, 0.993);
  border-radius: 5px;
  background: rgba(150, 120, 120, 0.993);
  box-shadow: blur(10px);
}

.banner_border2 {

 
  width: 30%;
  height: 200px;
  margin:-10% 0 auto 37%;
  box-shadow: 0 0 20px rgba(148, 56, 56, 0.993);
  border-radius: 5px;
  background: rgba(148, 56, 56, 0.993);
  box-shadow: blur(10px);
}

.banner_title img {
  margin-top: -45%;
  

}


.banner_title h1 {
  font-size: 15vh;
  color: rgb(207, 204, 204);  
  margin-left: 5%;
  margin-top: -25%;
 
}

.banner .text {
  color: #8f8f8f;
  margin-top:90px ;
}

.banner .dud {
  color: #111;
  background: none;
}



/* Arrow */

content {
  position: absolute;
  left: 0%;
  top: 90%;
  transform: translate(-50%, -50%);
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
  margin-top: 20px;
  margin-left: 90%;
}
#more-arrows:hover polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}


/* ABOUT ME */

.about .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}

.about .about_title h2 {
  font-size: 15vh !important;
 
   text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.about .about_title h2 b {
  font-size: 7vh;
  position: absolute;
  margin-left: 24%;
  background: none;
 color: var(--primary-color);
  transform: rotate(-5deg);
}

.about .container .card {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin: 30px 45px;
}

.about .container .card .face {
  width: 280px;
  height: 200px;
  transition: 0.5s;
}

.about .container .card .face.face1 {
  position: relative;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: -12px;
  transform: translateY(100px);
}

.about .container .card:hover .face.face1 {
  background: var(--primary-color);
  transform: translateY(0);
}

.about .container .card .face.face1 .content {
  transition: 0.5s;
}

.about .container .card:hover .face.face1 .content {
  opacity: 1;
}

.about .container .card .face.face1 .content img {
  max-width: 100px;
  background: var(--primary-color);
}

.about .container .card .face.face1 .content h3 {
  padding: 10px 0 0;

  color: #fff;
  text-align: center;
  background: var(--primary-color);
  font-size: 2.5em;
}

.about .container .card .face.face2 {
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  transform: translateY(-100px);
}

.about .container .card:hover .face.face2 {
  transform: translateY(0);
}

.about .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.about .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
}

.about .container .card .face.face2 .content a:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ---------------------------SKILLS ------------------------*/
.skills {
  padding-top: 20%;
}

.skills .container-fluid {
  z-index: 100;
}



.skills .skills_title h2 {
  font-size: 15vh !important;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.skills .skills_title h2 b {
  font-size: 7vh;
  position: absolute;
  background: none;
  color: var(--primary-color);
  transform: rotate(-5deg);
}

.skills .skills_icons .col {
  padding: 10px;
  margin: 10px;
border-radius: 50px;
background: #080808;
box-shadow: inset 6px 6px 12px #030303,
            inset -6px -6px 12px #0d0d0d;
}


.skills .skills_icons .col svg:hover {
fill: var(--primary-color) !important;
}

/*----------------- PROYECTS ------------------*/

.proyects {
  padding-top: 20%;
}

.proyects_title h2 {
  font-size: 15vh;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.proyects_title b {
  font-size: 7vh;
  position: absolute;
  background: none;
  color: var(--primary-color);
  transform: rotate(-5deg);
}

.proyects_title h3 {
  color: var(--primary-color);
  font-family: var(--font-family-primary);
  padding-bottom: 100px;
}

.proyect-card {
  perspective: 150rem;
  position: relative;
  height: 40rem;

  box-shadow: none;
  background: none;
}

.proyect-card-side {
  height: 35rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}

.proyect-card-side.back {
  transform: rotateY(-180deg);
  background: rgb(54, 63, 38);
  background: linear-gradient(
    155deg,
    var(--primary-color) 0%,
    var(--secundary-color)42%,
    var(--tree-color)87%
  );
}

.proyect-card-side.front {
  background: url(./assets/img/pages/aztecwear.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 32px 0 var(--secundary-color);
  /* transform: rotateY(35deg); */
}

.proyect-card #proyect-2 {
  background: url(./assets/img/pages/ehforbeginers.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.proyect-card #proyect-3 {
  background: url(./assets/img/pages/modnutrition.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.proyect-card #proyect-4 {
  background: url(./assets/img/pages/la-floreria.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.proyect-card:hover .proyect-card-side.front {
  transform: rotateY(180deg);
}

.proyect-card:hover .proyect-card-side.back {
  transform: rotateY(0deg);
}

/* ///// PROYECT CARD INFO */

.proyect-card-info h3 {
  font-size: 5vh;
  text-align: center;
  color: var(--tree-color);
}

.proyect-card-info h4 {
  text-align: center;
  margin-top: 50px;
  color: var(--tree-color);
}

.proyect-card-info .in-process {
  color: yellow;
}

.proyect-card-info .completed {
  color: yellowgreen;
}

.proyect-card-info p {
  text-align: justify;
  color: #aaaaa6;
  margin-top: 20px;
}

.proyect-card-info .proyect-card-svg {
  text-align: center;
  margin-top: 10px;
}

.proyects button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 50px;
  margin-left: 25px;
}
.proyects button.learn-more {
  width: 12rem;
  height: auto;
}
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--secundary-color);
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--secundary-color);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* FORM CONTACT */

.form {
  margin-top: 20%;
  padding-bottom: 10%;
}

.contact_title h2 {
  font-size: 15vh;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.contact_title b {
  font-size: 7vh;
  position: absolute;
  background: none;
  color: var(--primary-color);
  transform: rotate(-5deg);
}

.form .cuadro1 {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: -1% 0 0 15% ;
  background: var(--secundary-color);
}

.form .cuadro2 {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 20% 0 0 20%;
  background: var(--primary-color);
}

.form .cuadro3 {
  width: 400px;
  height: 400px;
  position: absolute;
  margin:5% 0% 0 0;
  background:#333;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin: auto;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}
.form button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}






/*---------------MEDDLE ---------------------- */
@media only screen and (max-width:1200px) and (min-width:992px){
  .nav {
    display: none;
  }

  .banner{
    width: 100%;
  }

  #more-arrows {
    display:none;
  }

  .about .container .card {
    margin-left: 20PX;
  }

  
}

/* -------------- SMAll --------------------- */
@media only screen and (max-width:991px) and (min-width:768px){
/* MENU RESPONSIVE */
.nav {
  display: none;
}

#more-arrows {
  display:none;
}


.form .cuadro2 {
  width: 10%;
}

}

@media only screen and (max-width:767px){
  

.nav {
  font-size: 12px;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  display:flex;
  flex-flow: row nowrap;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
  position: fixed;
  top:90%;
  z-index: 10000;
}
.nav-item {
  flex: 1 1 25%;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  transition: all 500ms ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.nav-item .title {
  display: inline-block;
  color: transparent;
  vertical-align:bottom;
  margin-left: 4px;
}
.nav-item.active {
  flex: 0.000000001 0.00000001 70px;
}
.nav-item.active .title {
  color: inherit;
}
.nav-item[data-color="#5b37b7"].active {
  color: #5b37b7;
  fill: #5b37b7 !important;
  background: rgba(91, 55, 183, .3);
}
.nav-item[data-color="#c9379d"].active {
  color: #c9379d;
  fill: #c9379d !important;
  background: rgba(201, 55, 157, .3);
}
.nav-item[data-color="#e5a919"].active {
  color: #e5a919;
  fill: #e5a919 !important;
  background: rgba(229, 169, 25, .3);
}
.nav-item[data-color="#1194aa"].active {
  color: #1194aa;
  fill: #1194aa !important;
  background: rgba(17, 148, 170, .3);
}
*[class^="icon-"] {
  height: 24px;
  width: 24px;
}

.skills_icons {
  width: 100% !important;
}


}